<!DOCTYPE html>
<html>
<head>
    <title>Emanuele Rocca: {{ page.title }}</title>
    <meta name="author" content="Emanuele Rocca" />
    <meta name="description" content="The homepage of Emanuele Rocca, aka ema. Geek, Debian Developer, Free Software advocate." />
    <meta name="keywords" content="ema, Emanuele Rocca, Emanuele, Debian, Linux" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/main.css" media="all" />
    <link href="http://feeds.feedburner.com/EmaRocca" type="application/atom+xml" rel="alternate" title="Emanuele Rocca's writings" />
    <link rel="openid.server" href="http://openid-provider.appspot.com/emarocca" />
    <link rel="openid.delegate" href="http://openid-provider.appspot.com/emarocca" />

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-26176145-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

</head>

<body class='{{ page.page_name }}'>

  <h1 id="title"><a href="{{ site.url }}">Emanuele Rocca</a></h1>

  <div id="container">
  {{ content }}
  </div>

</body>
</html>
